<section class="login m-5">
<div class="container d-flex align-items-center justify-content-center "
 style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 width: 50%;">


 
            <div class="row justify-content-between  section-padding">
                <div class=" col-xl-12 col-lg-12 col-sm-12">
                    <div class="single-footer pb--40">
                        <div class="footer-contact m-5">
                            <p><span class="label fw-bold fs-5">Address:</span><span class="text fs-5">Padamugal , 
                                Kochi , Kerala <br> India PIN : 695 612</span></p>
                            <p><span class="label fw-bold fs-5">Phone:</span><span class="text fs-5">&nbsp; +91 8075871460</span></p>
                            <p><span class="label fw-bold fs-5">Email:</span><span class="text fs-5">&nbsp&nbsp Support@bookleaves.com</span></p>
                        </div>
                    </div>
                </div>
             </div>
  


  </div>
  </section>